

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

text {
    pointer-events: none;
}

label {
    padding: 5px;
    color: #222;
    font-family: corbel, Helvetica;
    font-size: 14px;
    margin: 10px;
}

input {
    display: table-cell;
    vertical-align: middle
}



