{% extends "base.html" %}

{% block title %}
Personality Rec
{%  endblock %}

{% block content %}
<style>
    .form-section{
        display: flex;
        justify-content: center;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
    .padclass{
        padding: 10px;
    }

    .alertMsg{
        margin-left: 300px;
        width: 40%;
    }

</style>
<section class="container" >
    <div class="form-section">
     <form action="" method="post">
        <articl class="input-group">
            <p>
                <input type="text" name="url" required="true"  placeholder="Add Twitter Profile">
            </p>
            <p class="padclass"><span class="input-group-btn" >
                <button type="submit" class="btn btn-default">Add</button>
            </span></p>

        </articl>
    </form>
</div>
</section>
    {% if request.args.get('done') %}
   <div class="alertMsg">
        <div class="alert alert-success">
            <strong>Added Profile Successfully!</strong> <a href="{{ url_for('analyse') }}"> Analyse Personality</a>
        </div>

    {% endif %}
   </div>
    <br/>
    <br/>
    <br/>
    <br/>
{% endblock %}

{% block sidebar %}
{% endblock %}